.nonlink {
    color: inherit;
    text-decoration: none;
}

.nonlink:hover {
    color: inherit;
}

.textareaFix {
    font-size: 1em !important;
}

.successEmail {
    color: greenyellow;
}

.failureEmail {
    color: red;
}

.failureEmail:hover {
    text-decoration: underline;
}

.listaEmail {
    cursor: pointer;
}