.page-breadcrumb2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.single-product-item{
    margin-bottom: 0px !important;
}

.numInput {
    height: 50px !important;
}

.addservicos {
    background-image: linear-gradient(#080d29, #111847);
    padding: 25px;
    border-radius: 25px;
}

.addservicos > div > label {
    font-size: 1.05em;
    font-weight: bolder !important;
    color: aliceblue !important;
}