.errorMessageTable {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.successMessageTable {
    color: rgb(121, 201, 0);
    font-weight: bold;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}