.iconelixo:hover > svg {
    border-bottom: 2px solid black;
}

.deleteMargin {
    margin-bottom: 0px !important;
}

.subtitulosTabela {
    border: 1px solid white;
    background-color: #aaaaaa;
}

.subtitulosTabela > div {
    border: 1px solid white;
    border-collapse: collapse;
}