.nextToSelect {
    height: 50px !important;
}

.nextToInput {
    height: 36px !important;
}

.checkboxesDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkboxesDiv > div {
    width: 12%
}

.smallCheckbox {
    max-width: 45px !important;
}