.fieldDividido {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fieldDividido_1 {
    width: 60%;
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.fieldDividido_2 {
    width: 40%;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.center {
    text-align: center;
    font-size: 1.5em !important;
}