.iconelixo:hover > svg {
    border-bottom: 2px solid black;
}

.deleteMargin {
    margin-bottom: 0px !important;
}

.par, .impar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.impar {
    border: 1px solid black;
}

.fakeLabel {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.pesquisa {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.campoPesquisa {
    border-right: none;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.tipoPesquisa {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-right: none;
}