.centerDivAbsolute {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 25%;
	z-index: 500;
}

.alertMessage {
	display: flex;
	flex-direction: column;
	padding: 3px;
	min-width: 300px;
	max-width: 45%;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px black;
	font-size: 1.2em;
	border-top: 3px solid #FF0000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	min-height: 50px;
	cursor: pointer;
	user-select: none;
}

.alertConfirm {
	border-top: 3px solid gold;
}

.alertTitle {
	font-size: 1.3em;
	font-weight: bold;
	user-select: none;
	width: 100%;
}

.alertContent {
	width: 100%;
}

.confirmButtons {
	padding-top: 10px;
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}