.insideFormButton {
    margin-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    font-weight: bold;
    min-width: 25px;
    border: 1px solid #abacaf;
    border-radius: 10px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.insideFormButton:active {
    opacity: 0.8;
}

.errorMessage {
    color: rgb(255, 0, 0);
    font-size: 1.1em;
}

.errorMessage>svg {
    cursor: pointer;
}

.parTr {
    background-color: white;
}

.imparTr>td {
    background-color: black;
    color: white;
}

.voucherCabecalho {
    text-align: right;
    font-size: 0.9em;
}

.voucherImagem {
    position: absolute;
    top: 120px;
    right: 100px;
}

.k-grid {
    font-family: "DejaVu Sans", "Arial", sans-serif;
}

.voucherHeader {
    width: 90%;
    margin-left: 5%;
}

.voucherHeader>table {
    width: 90%;
    margin-left: 5%;
}

.voucherContent>table {
    width: 90%;
    margin-left: 5%;
}

.voucherContent>table,
.voucherContent>table tr,
.voucherContent>table tr td {
    border: 1px solid black;
    border-collapse: collapse;
}

.faturamentoCabecalho {
    text-align: left;
    font-size: 0.9em;
}

.faturamentoTitulo {
    width: 100%;
    background-color: #9a9a9a;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.faturamentoFooter {
    width: 100%;
    text-align: right;
    padding-right: 25px;
}


.relatoriosSection {
    width: 90%;
    min-width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.k-grid {
    font-family: "DejaVu Sans", "Arial", sans-serif;
}

.k-pdf-export .k-grid-content td[role="gridcell"] {
    word-wrap: break-word;
}

.pdfTableCabecalho {
    width: 90%;
    margin-left: 5%;
}

.voucherTableFinal {
    margin-left: 5%;
    margin-bottom: 20px;
    width: 90%;
    border: 3px solid black !important;
}

.voucherFooter {
    margin-left: 100px;
}

.voucherTable {
    margin-left: 5%;
    width: 90%;
}

.pdfHeader {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.anexoList:nth-child(even), .anexoList:nth-child(even) > td {
    background-color: white;
    padding: 15px;
    color: black;
}

.anexoList:nth-child(odd), .anexoList:nth-child(odd) > td {
    background-color: black;
    padding: 15px;
    color: white;
}

.anexoListTitle {
    padding: 15px;
}

.anexoListTitle > th{
    font-weight: bold;
    padding: 15px;
    color: white;
    background-color: black;
}

.agrupador_lista {
    width: 100%;
    margin: 0px;
}

.agrupador_lista > tr > th, .agrupador_lista > tr > td{
    border-bottom: 1px solid black;
    cursor: pointer;
    user-select: none;
}

.white {
    color: white;
}

@media (min-width: 768px) {
    .insideFormButton {
        font-size: 1.4em;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        margin-top: 7px;
    }
}

@media (max-width: 500px) {
    .relatoriosSection {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .relatorioButton {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 20px;
    }
}